body {
  background-color: #120d1c;
  font-family: 'Roboto Mono', monospace;
  color: #d6cce8;
}

h1 {
  text-align: center;
  font-weight: bold; 
}

/* Links */
a:link {
  color: #9a86c4;
  text-decoration: none;
}

a:visited {
  color: #6f6e70;
  text-decoration: none;
}

a:hover {
  color: #dfc6f7;
  text-decoration: none;
}

a:active {
  color: #82acd9;
  text-decoration: none;
}

form {
  text-align: center;
}

input {
  margin: 8px 0;
  font-family: 'Roboto Mono', monospace;
}

input[type=password], input[type=text] {
  border: none;
  border-bottom: 3px solid #9a86c4;
  border-radius: 2px;
  width: 200px;
  height: 30px;
  padding: 12px 20px;

  transition: border-bottom 0.1s;
}

input[type=password]:focus, input[type=text]:focus {
  border-bottom: 5px solid #82acd9;
}

input[type=submit] {
  border: none;
  border-radius: 2px;

  background-color: #dfc6f7; 

  font-size: 16px;
  font-weight: bold; 

  width: 100px;
  height: 30px;
}

* {
  box-sizing: border-box;
}

.menu {
	width: 11%;
	float: left;
	text-align: right;
  margin-left: 20px;
}

.main {
	width: 85%;
	float: right;
  margin-right: 10px; 
}

.project {
  max-width: 400px;
  height: 400px;
  float: left;
  margin: 10px;
}

.project h2 {
  text-align: center;
}

#keywords {
  text-align: center;
  font-size: 11px;
}